@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/2/websymbols-regular-webfont.eot');
    src: url('../fonts/2/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/2/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/2/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JustVector';
    src: url('../fonts/3/justvectorv2-webfont.eot');
    src: url('../fonts/3/justvectorv2-webfont.eot?#iefix') format('eot'),
         url('../fonts/3/justvectorv2-webfont.woff') format('woff'),
         url('../fonts/3/justvectorv2-webfont.ttf') format('truetype'),
         url('../fonts/3/justvectorv2-webfont.svg#webfontkw9J4lGf') format('svg');
    font-weight: normal;
    font-style: normal;
}

.btnbox ul li {
margin: 12px 5px;
float: left;
}
.btn {
display: inline-block;
background: rgba(245, 246, 247, .86);
background: -webkit-linear-gradient(top, rgba(253,252,250,0.88) 0%,rgba(249,249,250,0.94) 47%,rgba(239,238,239,0.9) 100%);  
background: -moz-linear-gradient(top, rgba(253,252,250,0.88) 0%,rgba(249,249,250,0.94) 47%,rgba(239,238,239,0.9) 100%);  
background: -o-linear-gradient(top, rgba(253,252,250,0.88) 0%,rgba(249,249,250,0.94) 47%,rgba(239,238,239,0.9) 100%);  
background: -ms-linear-gradient(top, rgba(253,252,250,0.88) 0%,rgba(249,249,250,0.94) 47%,rgba(239,238,239,0.9) 100%);  
color:rgb(84,74,84);
font: 500 15px/1.3 ColaborateRegular;
padding:7px 20px 7px 35px;
border-radius: 3px;
border: 1px solid rgba(205, 206, 203, .8);
position:relative;
left: 2px;
text-shadow: -1px 1px 1px rgba(250, 245, 250, .8);
box-shadow: 0 1px 1px rgba(40, 40, 40, .14), 0 1px 0 -3px rgba(220, 218, 218, .99);
}
.btn-icon {
position:absolute;
display: block;
font: 14px/.8 WebSymbolsRegular;
left:12px;
text-shadow: 0 1px 2px #f9f9f9;
top:10px;
-moz-transition: all .5s ease-in;
-webkit-transition: all .5s ease-in;
}
.btn:hover {
background: rgba(248, 247, 249, .92);
 color:rgb(34,43,85);
}
.btn:active {
-moz-transform: translate(0, 1px);
-webkit-transform: translate(0, 1px);
-ms-transform: translate(0, 1px);
-o-transform: translate(0, 1px);
border: 1px solid rgba(200, 203, 200, .8);	
box-shadow: inset 10px 10px 25px 10px rgba(185, 187, 188, .12), 0 0 1px rgba(230, 234, 233, .81);
}
.btn:hover .btn-icon.set,  .btn:hover .btn-icon.reload  {
color: rgb(50, 80, 110);
-webkit-transform: rotate(360deg);
-webkit-transform-origin: 52% 66%;
-moz-transform: rotate(360deg);
-moz-transform-origin: 52% 66%;
}
.btn:hover .btn-icon.pro { 
-webkit-animation: amt1 .5s ease-in;
-moz-animation: amt1 .5s ease-in;
color: rgb(20, 70, 110);
}
.btn:hover .btn-icon.warning { 
-webkit-animation: amt1 .4s ease-in 2;
-moz-animation: amt1 .4s ease-in 2;
color: rgb(215,38,25);
}
.btn:hover .btn-icon.search { 
-webkit-animation: amt2 .5s ease-in 2;
-moz-animation: amt2 .5s ease-in;
color: rgb(80, 90, 170);
}
.btn:hover .btn-icon.email{ 
-webkit-transform: rotate(35deg);
-moz-transform: rotate(35deg);
color: rgb(80, 90, 170);
}
 .btn:hover .btn-icon.view {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 }
 .btn:hover .btn-icon.lock,  .btn:hover .btn-icon.unlock {
 -webkit-transform: scale(1.25) rotate(360deg);
  -moz-transform: scale(1.25) rotate(360deg);
 }
 .btn:hover .btn-icon.like { 
-webkit-animation: amt1 .4s ease-in infinite;
-moz-animation: amt1 .3s ease-in infinite;
color: rgb(235,28,35);
}
/***For Chrome, Safari***/
@-webkit-keyframes amt1 {
	0%    { -webkit-transform: scale(1.1);}
	50% {  -webkit-transform: scale(1.25); opacity: .8;}
	100%    { -webkit-transform: scale(1);}
}

@-webkit-keyframes amt2 {
	0%    { -webkit-transform: translate(-2px, 0);}
	20% {  -webkit-transform: translate(-2px, 2px); }
	40% {  -webkit-transform: translate(-2px, 3px); }
	60% {  -webkit-transform: translate(-1px, 2px); }
	80% {  -webkit-transform: translate(1px, 1px); }
	100% {  -webkit-transform: translate(2px, -1px); }
}

/***For Firefox***/
@-moz-keyframes amt1 {
	0%    { -moz-transform: scale(1.1);}
	50% {  -moz-transform: scale(1.25); opacity: .8;}
	100%    { -moz-transform: scale(1);}
}

@-moz-keyframes amt2 {
	0%    { -moz-transform: translate(-2px, 0);}
	20% {  -moz-transform: translate(-2px, 2px); }
	40% {  -moz-transform: translate(-2px, 3px); }
	60% {  -moz-transform: translate(-1px, 2px); }
	80% {  -moz-transform: translate(1px, 1px); }
	100% {  -moz-transform: translate(2px, -1px); }
}
/**==========================================**/
  /**********************SOCIAL BUTTONS*********************/
/**===========================================**/
.btn2 {
display: inline-block;
position:relative;
font: 400 38px/1.35 JustVector;
color: rgb(65, 50, 50);
width: 48px; 
margin: 0 10px;
height:48px;
border-radius:35px;
background: rgba(245, 246, 247, .96);
background: -webkit-linear-gradient(top, rgba(255,255,255,0.96) 0%,rgba(241,241,241,0.96) 35%,rgba(240,240,240,0.96) 36%,rgba(228,228,228,0.93) 65%,rgba(232,232,232,0.93) 69%,rgba(246,246,246,0.93) 100%); 
background: -moz-linear-gradient(top, rgba(255,255,255,0.96) 0%,rgba(241,241,241,0.96) 35%,rgba(240,240,240,0.96) 36%,rgba(228,228,228,0.93) 65%,rgba(232,232,232,0.93) 69%,rgba(246,246,246,0.93) 100%); 
background: -ms-linear-gradient(top, rgba(255,255,255,0.96) 0%,rgba(241,241,241,0.96) 35%,rgba(240,240,240,0.96) 36%,rgba(228,228,228,0.93) 65%,rgba(232,232,232,0.93) 69%,rgba(246,246,246,0.93) 100%); 
background: -o-linear-gradient(top, rgba(255,255,255,0.96) 0%,rgba(241,241,241,0.96) 35%,rgba(240,240,240,0.96) 36%,rgba(228,228,228,0.93) 65%,rgba(232,232,232,0.93) 69%,rgba(246,246,246,0.93) 100%); 
box-shadow: 0 1px 2px rgba(40, 40, 40, .18), 0 1px 0 1px rgba(220, 218, 218, .92);
}
.btn2:hover {
color: rgb(248, 250, 248);
}
/******************Facebook******************************/
.facebook {
text-indent: 10px;
}
.facebook:hover {
background: rgb(94, 110, 175);
background: -webkit-linear-gradient(top, rgb(98,130,185) 0%,rgb(34,60,115) 100%); 
background: -moz-linear-gradient(top, rgb(98,130,185) 0%,rgb(34,60,115) 100%); 
background: -o-linear-gradient(top, rgb(98,130,185) 0%,rgb(34,60,115) 100%); 
background: -ms-linear-gradient(top, rgb(98,130,185) 0%,rgb(34,60,115) 100%); 
box-shadow: 0 1px  1px 0px rgba(20, 40, 70, .9), 0 0 5px rgba(160, 160, 160, .8);
text-shadow: 1px 1px rgba(20, 35, 75, .8);
}
.facebook:active {
background: rgb(90,120,180);
box-shadow: inset -1px 1px 6px rgba(64,73,118, .9), inset -1px 0 14px 1px rgba(20, 50, 90, .8);
}

/******************Twitter******************************/
.twitter {
text-indent: 8px;
line-height: 1.55;
}

.twitter:hover {
background: rgb(120, 190, 208);
background: -webkit-linear-gradient(top, rgb(160,218,237) 0%,rgb(35,160,191) 100%);
background: -moz-linear-gradient(top, rgb(160,218,237) 0%,rgb(35,160,191) 100%);
background: -ms-linear-gradient(top, rgb(160,218,237) 0%,rgb(35,160,191) 100%);
background: -o-linear-gradient(top, rgb(160,218,237) 0%,rgb(35,160,191) 100%);
box-shadow:  0 1px 1px 0 rgba(40, 130, 188, .9), 0 0 5px rgba(160, 160, 160, .9);
text-shadow: 1px 1px rgba(20, 100, 155, .8);
}
.twitter:active {
background: rgb(130, 200, 220);
box-shadow: inset -1px 1px 5px rgba(30,191,224, .8), inset -1px 0 14px 1px rgba(30, 120, 160, .9);
}

/*****************RSS******************************/
.rss {
text-indent: 9px;
}
.rss:hover {
background: rgb(208, 117, 66);
background: -webkit-linear-gradient(top, rgb(245,168,76) 0%,rgb(205,87,13) 100%);
background: -moz-linear-gradient(top, rgb(245,168,76) 0%,rgb(205,87,13) 100%);
background: -ms-linear-gradient(top, rgb(245,168,76) 0%,rgb(205,87,13) 100%);
background: -o-linear-gradient(top, rgb(245,168,76) 0%,rgb(205,87,13) 100%);
text-shadow: 1px 1px rgba(140, 80, 50, .8);
box-shadow: 0 1px 1px 0 rgba(200, 80, 20, .9), 0 0 5px rgba(160, 160, 160, .9);
}
.rss:active {
background: rgb(220, 130, 70);
box-shadow: inset -1px 1px 10px rgba(175,90,25, .8), inset -1px 0 14px 1px rgba(180, 70, 10, .9);
}

/*****************Digg******************************/
.digg {
text-indent: 8px;
}
.digg:hover {
background: rgb(47, 113, 218);
background: -webkit-linear-gradient(top, rgb(68,132,252) 0%,rgb(20,48,170) 100%);
background: -moz-linear-gradient(top, rgb(68,132,252) 0%,rgb(20,48,170) 100%);
background: -ms-linear-gradient(top, rgb(68,132,252) 0%,rgb(20,48,170) 100%);
background: -o-linear-gradient(top, rgb(68,132,252) 0%,rgb(20,48,170) 100%);
text-shadow: 1px 1px rgba(22, 30, 125, .8);
box-shadow: 0 1px 1px 0 rgba(26,39,162, .9), 0 0 5px rgba(160, 160, 160, .9);
}
.digg:active {
background: rgb(54,122,228);
box-shadow: inset -1px 1px 6px rgba(75,100,225, .8), inset -1px 0 14px 1px rgba(20, 50, 170, .8);
}

/*****************Reddit******************************/
.reddit {
text-indent: 7px;
font-size:39px;
}
.reddit:hover {
background:rgb(62, 65, 65);
background: -webkit-linear-gradient(top, rgb(125,126,125) 0%,rgb(24,24,24) 100%);
background: -moz-linear-gradient(top, rgb(125,126,125) 0%,rgb(24,24,24) 100%);
background: ms-linear-gradient(top, rgb(125,126,125) 0%,rgb(24,24,24) 100%);
background: -o-linear-gradient(top, rgb(125,126,125) 0%,rgb(24,24,24) 100%);
text-shadow: 1px 1px rgba(40, 40, 40, .8);
box-shadow: 0 1px 1px rgba(70,73,79, .9), 0 0 5px rgba(160, 160, 160, .9);
}
.reddit:active {
background: rgb(70, 73, 70);
box-shadow: inset -1px 1px 6px rgba(18,18,16, .8), inset -1px 0 14px 1px rgba(61,64,64, .9);
}

/*****************Youtube******************************/
.youtube {
text-indent: 8px;
}
.youtube:hover {
background: rgb(175, 36, 56);
background: -webkit-linear-gradient(top, rgb(205,62,90) 0%,rgb(160,5,35) 100%);
background: -moz-linear-gradient(top, rgb(205,62,90) 0%,rgb(160,5,35) 100%);
background: -o-linear-gradient(top, rgb(205,62,90) 0%,rgb(160,5,35) 100%);
background: -ms-linear-gradient(top, rgb(205,62,90) 0%,rgb(160,5,35) 100%);
text-shadow: 1px 0 1px rgba(120,5,20, .9);
box-shadow: 0 1px 1px rgba(80,10,7, .8), 0 0 5px rgba(160, 160, 160, .9);
}
.youtube:active {
background:rgb(181,44,63);
box-shadow: inset -1px 1px 6px rgba(92,18,22, .8), inset -1px 0 14px 1px rgba(171,4,18, .9);
}

/*****************IN******************************/

.in {
text-indent: 9px;
font-size: 36px;
}
.in:hover {
background: rgb(20, 117, 187);
background: -webkit-linear-gradient(top,rgb(59,162,213) 0%,rgb(10,90,150)  100%);
background: -moz-linear-gradient(top,rgb(59,162,213) 0%,rgb(10,90,150)  100%);
background: -ms-linear-gradient(top,rgb(59,162,213) 0%,rgb(10,90,150)  100%);
background: -o-linear-gradient(top,rgb(59,162,213) 0%,rgb(10,90,150)  100%);
text-shadow: 1px 1px rgba(12, 60, 120, .8);
box-shadow: 0 1px 1px 0 rgba(5, 70, 140, .9), 0 0 5px rgba(160, 160, 160, .9);
}
.in:active {
background: rgb(28, 125, 195);
box-shadow: inset -1px 1px 6px rgba(10, 120, 170, .8), inset -1px 0 14px 1px rgba(20, 80, 130, .9);
}

/*****************Blogger******************************/

.blogger {
text-indent: 8px;
}
.blogger:hover {
background: rgb(218, 135, 22);
background: -webkit-linear-gradient(top, rgb(250,160,40) 0%,rgb(195,80,10) 100%); 
background: -moz-linear-gradient(top, rgb(250,160,40) 0%,rgb(195,80,10) 100%); 
background: -ms-linear-gradient(top, rgb(250,160,40) 0%,rgb(195,80,10) 100%); 
background: -o-linear-gradient(top, rgb(250,160,40) 0%,rgb(195,80,10) 100%); 
text-shadow: 1px 1px rgba(150, 60, 33, .8);
box-shadow: 0 1px 1px 0 rgba(170, 60, 90, .9), 0 0 5px rgba(160, 160, 160, .9);
}

.blogger:active{
background: rgb(230, 140, 30);
box-shadow: inset -1px 1px 6px rgba(200,85,14, .8), inset -1px 0 14px 1px rgba(200,85,14,.9);
}

/*****************Google******************************/
.google {
text-indent: 8px;
}
.google:hover {
background: rgb(78, 80, 78);
background: -webkit-linear-gradient(top, rgb(105,100,104) 0%,rgb(43,40,43) 100%); 
background: -moz-linear-gradient(top, rgb(105,100,104) 0%,rgb(43,40,43) 100%); 
background: -ms-linear-gradient(top, rgb(105,100,104) 0%,rgb(43,40,43) 100%); 
background: -o-linear-gradient(top, rgb(105,100,104) 0%,rgb(43,40,43) 100%); 
text-shadow: 1px 1px rgba(60, 60, 60, .8);
box-shadow:  0 1px 1px 0 rgba(70, 65, 80, .9), 0 0 5px rgba(160, 160, 160, .8);
}

.google:active {
background: rgb(86, 88, 86);
box-shadow: inset -1px 1px 6px rgba(80,95,94, .8), inset -1px 0 14px 1px rgba(53,55,54,.9);
}

/*****************DeviantArt******************************/
.deviantart {
text-indent: 8px;
font-size: 40px;
line-height: 1.54;
}
.deviantart:hover {
background: rgb(42, 132, 132);
background: -webkit-linear-gradient(top,rgb(93,173,179)0%,rgb(29,112,120)  100%); 
background: -moz-linear-gradient(top,rgb(93,173,179)0%,rgb(29,112,120)  100%); 
background: -ms-linear-gradient(top,rgb(93,173,179)0%,rgb(29,112,120)  100%); 
background: -o-linear-gradient(top,rgb(93,173,179)0%,rgb(29,112,120)  100%); 
text-shadow: 1px 1px rgba(20, 70, 90, .8);
box-shadow:  0 1px 1px rgba(14, 75, 80, .9), 0 0 5px rgba(160, 160, 160, .9);
}
.deviantart:active {
background:rgb(50, 140, 140);
box-shadow: inset -1px 1px 6px rgba(19,82,90, .8), inset -1px 0 14px 1px rgba(10,95,94,.9);
}

/*****************Vimeo******************************/

.vimeo {
text-indent: 8px;
line-height: 1.48;
}
.vimeo:hover {
background: rgb(32, 118, 224);
background: -webkit-linear-gradient(top,rgb(79,148,223) 0%, rgb(20,80,178) 100%); 
background: -moz-linear-gradient(top,rgb(79,148,223) 0%, rgb(20,80,178) 100%); 
background: -ms-linear-gradient(top,rgb(79,148,223) 0%, rgb(20,80,178) 100%); 
background: -o-linear-gradient(top,rgb(79,148,223) 0%, rgb(20,80,178) 100%); 
box-shadow:  0 1px 1px rgba(64, 125, 180, .9), 0 0 5px rgba(160, 160, 160, .9);
text-shadow: 1px 1px rgba(14,54,184, .8);
}
.vimeo:active {
background: rgb(40,125,232);
box-shadow: inset -1px 1px 6px rgba(30,43,222, .8) , inset -1px 0 14px 1px rgba(20,86,192, .9) ;
}
/*****************StumbleUpon******************************/
.stumbleupon {
text-indent: 8px;
line-height:1.3;
}
.stumbleupon:hover {
background: rgb(45, 138, 102);
background: -webkit-linear-gradient(top,rgb(82,156,120)0%,rgb(22,70,55) 100%); 
background: -moz-linear-gradient(top,rgb(82,156,120)0%,rgb(22,70,55) 100%); 
background: -ms-linear-gradient(top,rgb(82,156,120)0%,rgb(22,70,55) 100%); 
background: -o-linear-gradient(top,rgb(82,156,120)0%,rgb(22,70,55) 100%); 
box-shadow: 0 1px 1px rgba(14, 75, 70, .9),  0 0 5px rgba(160, 160, 160, .8);
text-shadow: 1px 1px rgba(41,69,18, .8)
}
.stumbleupon:active {
background:rgb(52,146,110);
box-shadow: inset -1px 1px 6px rgba(98,138,160,.8), inset -1px 0 14px 1px rgba(10,65,68,.9);
}

/*****************Skype******************************/

.skype {
text-indent: 8px;
}
.skype:hover {
background: rgb(65, 162, 212);
background: -webkit-linear-gradient(top,rgb(67,188,237) 0%,rgb(25,114,209) 100%); 
background: -moz-linear-gradient(top,rgb(67,188,237) 0%,rgb(25,114,209) 100%); 
background: -ms-linear-gradient(top,rgb(67,188,237) 0%,rgb(25,114,209) 100%); 
background: -o-linear-gradient(top,rgb(67,188,237) 0%,rgb(25,114,209) 100%); 
text-shadow: 1px 1px rgba(40, 80, 150, .8);
box-shadow: 0 1px 1px 0 rgba(94, 145, 170, .9), 0 0 5px rgba(160, 160, 160, .9);
}
.skype:active {
background:rgb(70, 170, 220);
box-shadow: inset -1px 1px 6px rgba(98,127,144,.8), inset -1px 0 14px 1px rgba(30,125,114,.9);
}

/*****************Technorati******************************/

.technorati {
text-indent: 8px;
}
.technorati:hover {
background: rgb(76, 152, 40);
background: -webkit-linear-gradient(top,rgb(104,203,55) 0%,rgb(35,110,10) 100%); 
background: -moz-linear-gradient(top,rgb(104,203,55) 0%,rgb(35,110,10) 100%); 
background: -ms-linear-gradient(top,rgb(104,203,55) 0%,rgb(35,110,10) 100%); 
background: -o-linear-gradient(top,rgb(104,203,55) 0%,rgb(35,110,10) 100%); 
text-shadow: 1px 1px rgba(70,125,5, .8);
box-shadow:0 1px 1px rgba(14, 75, 5, .9),  0 0 5px rgba(160, 160, 160, .9);
}
.technorati:active {
background: rgb(85, 160, 48);
box-shadow: inset -1px 1px 6px rgba(78,142,18, .8), inset -1px 0 14px 1px rgba(58,87,3,.9);
}

/*****************Dribbble******************************/
.dribbble {
text-indent: 8px;
font-size: 38px;
line-height: 1.3;
}
.dribbble:hover {
background: rgb(218, 27, 152);
background: -webkit-linear-gradient(top, rgb(236,78,185) 0%,rgb(172,6,100) 100%);
background: -moz-linear-gradient(top, rgb(236,78,185) 0%,rgb(172,6,100) 100%);
background: -ms-linear-gradient(top, rgb(236,78,185) 0%,rgb(172,6,100) 100%);
background: -o-linear-gradient(top, rgb(236,78,185) 0%,rgb(172,6,100) 100%);
box-shadow: 0 0 5px rgba(160, 160, 160, .9), 0 1px 1px 0 rgba(220, 9, 115, .9);
}
.dribbble:active {
background:rgb(225, 35, 160);
box-shadow: inset -1px 1px 6px rgba(147,36,112, .8), inset -1px 0 14px 1px rgba(171,13,75, .9);
}
/*****************Yahoo******************************/

.yahoo {
text-indent: 8px;
line-height: 1.62;
font-size: 38px;
}
.yahoo:hover {
background: rgb(82, 52, 204);
background: -webkit-linear-gradient(top, rgb(97,68,206) 0%,rgb(37,6,142) 100%);
background: -moz-linear-gradient(top, rgb(97,68,206) 0%,rgb(37,6,142) 100%);
background: -ms-linear-gradient(top, rgb(97,68,206) 0%,rgb(37,6,142) 100%);
background: -o-linear-gradient(top, rgb(97,68,206) 0%,rgb(37,6,142) 100%);
text-indent: 1px 1px rgba(35,3,77,. 8);
box-shadow: 0 1px 1px 0 rgba(50, 8, 165, .9), 0 0 5px rgba(160, 160, 160, .9);
}
.yahoo:active {
background: rgb(91,60,214);
box-shadow: inset -1px 1px 6px rgba(87,36,172, .8), inset -1px 0 14px 1px rgba(28,7,113,.9);
}


/**==========================================**/
  /************************Tags Like Buttons**********************/
/**===========================================**/

.btn3 {
display: inline-block;
position:relative;
font: 400 14px/1.4 calibri;
color: rgb(65, 50, 50);
margin: 0 4px;
border: 1px solid rgba(198, 194, 196, .4);
background: rgba(242, 242, 242, .86);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,0.98) 47%,rgba(241,241,241,0.97) 75%,rgba(237,237,237,0.97) 100%);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,0.98) 47%,rgba(241,241,241,0.97) 75%,rgba(237,237,237,0.97) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,0.98) 47%,rgba(241,241,241,0.97) 75%,rgba(237,237,237,0.97) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,0.98) 47%,rgba(241,241,241,0.97) 75%,rgba(237,237,237,0.97) 100%);
box-shadow: 0 1px 1px rgba(20, 24, 23, .44), 0 0px 2px -2px rgba(14, 16, 18, .4);
text-shadow: -1px 0 1px rgba(220, 220, 220, .78);
-webkit-transition: all .23s linear;
-moz-transition: all .14s linear;
-ms-transition: all .24s linear;
-o-transition: all .24s linear;
}
.btn3:hover {
background: rgba(238, 244, 238, .95);
}
.btn3:active {
background: rgba(196, 201, 198, .4);
box-shadow: 0 0 1px rgba(20, 22, 22, .36), 0 0 2px -4px rgba(29, 29, 29, .35);
-webkit-transform: translate(0, 1px);
-moz-transform: translate(0, 1px);
-ms-transform: translate(0, 1px);
-o-transform: translate(0, 1px);
}
.left_tag {
border-radius: 40px 7px 7px 40px;
padding: 6px 10px 6px 22px;
}
.right_tag {
border-radius: 7px 40px 40px 7px;
padding: 6px 22px 6px 10px;
}
.btn3:before {
content:"";
position:absolute;
width: 10px;
height: 10px;
background:rgba(190, 188, 190, .78);
border: 1px solid rgba(180, 180, 180, .4);
box-shadow: inset 0 0 2px 1px rgba(250, 250, 252, .87);
border-radius: 20px;
top:10px;
}
.left_tag:before {
left:6px;
}
.right_tag:before {
right: 6px;
}